* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Parisienne", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  background-color: #d390c3;
  color: #e5e6e8;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  background-color: #e5e6e8;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 1rem;
  margin-left: 2rem;

  font-size: 3rem;
  font-weight: bold;
}
.header__logo a {
  color: #0a0700;
  text-decoration: none;
}

.header__nav {
  padding: 1rem;
  margin-right: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 3rem;
  font-weight: bold;
}

.header__nav a {
  color: #0a0700;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.footer {
  font-family: "DM Serif Text", serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #e5e6e8;

  background-color: #615b67;

  padding: 2rem;
  color: #f4f3f1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.footer nav ul {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 2rem; 
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

main {
  width: 90%;

  flex: 1;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main .titulo-home {
  font-size: 3.5rem;
  margin: 2rem 0;
 }

main .parrafo-home {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.productos-home {
  /*width: 100%;*/
  background-color: #ceb2c7;
 }

.productos-home h2 {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
 }

.contenedor-tarjetas {
  font-family: "DM Serif Text", serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #e5e6e8;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.tarjeta-producto {
  background-color: #615b67;
  padding: 1rem;
  border-radius: 1rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.contenedor-imagen img {
    width: 28rem; /* Ancho fijo de la imagen */
    height: 30rem; /* Altura fija de la imagen */
    border-radius: 0.5rem;
}

.tarjeta-producto h3 {
  font-size: 2.5rem;
}

.tarjeta-producto p {
  font-size: 2rem;
  font-weight: bold;
}



/* -------------------------------------------------------------------------- */
/*                                  Contacto                                  */
/* -------------------------------------------------------------------------- */

.seccion-contacto {
  width: 100%;
  margin: 2rem auto;
}

.titulo-contacto {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color:#ceb2c7;
  padding: 5rem;
  border-radius: 1rem;

  width: 60rem; /* ancho relativo */

  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.campo-form label {
  font-size: 2rem;
  color: #0a0700;
}
.campo-form input,
.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
}

.form button {
  font-family: "DM Serif Text", serif;
  background-color: #615b67;
  color: #e5e6e8;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                media queries                               */
/* -------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header__logo,
  .header__nav {
    margin: 0;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 80%;
  }
  .form {
    width: 80%;
    min-width: 400px;
  }
}
